// Colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);
$transparent-white: hsla(0, 0%, 100%, 0.75); //Paragraphs
$light-gray: hsl(0, 0%, 95%); //bg, headings, buttons

// Fonts
$fs: 15px;
$fm-100: 'Lexend Deca'; //400
$fm-200: 'Big Shoulders Display'; //700

// Margins, paddings, radius
$laptop: 1024px;
$radius: .8rem;

/* Utilities */ 
.bg--100 {
    background-color: $bright-orange;
}

.font-color--100 {
    color: $bright-orange;
}

.bg--200 {
    background-color: $dark-cyan;
}

.font-color--200 {
    color: $dark-cyan;
}

.bg--300 {
    background-color: $very-dark-cyan;
}

.font-color--300 {
    color: $very-dark-cyan;
}

