@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
.bg--100 {
  background-color: #e38826;
}

.font-color--100 {
  color: #e38826;
}

.bg--200 {
  background-color: #006970;
}

.font-color--200 {
  color: #006970;
}

.bg--300 {
  background-color: #004241;
}

.font-color--300 {
  color: #004241;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 15px;
  font-family: "Lexend Deca";
}

#container--cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: 8rem;
}

@media screen and (min-width: 1024px) {
  #container--cars {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    padding-top: 13.5rem;
    padding-left: 1.5rem;
  }
}

#container--cars .box__explanations {
  max-width: 32.65rem;
  min-height: 44.15rem;
  padding: 4.8rem 4.9rem;
}

@media screen and (min-width: 1024px) {
  #container--cars .box__explanations {
    max-width: 30.60rem;
    min-height: 50rem;
  }
}

#container--cars .box__explanations .box__car-icon {
  margin-bottom: 3rem;
}

#container--cars .box__explanations .box__main-text h1 {
  font-family: "Big Shoulders Display";
  font-size: calc(15px + 1.65em);
  text-transform: uppercase;
  color: #f2f2f2;
  font-weight: 700;
  margin-bottom: 2.84rem;
}

#container--cars .box__explanations .box__main-text p {
  line-height: 1.63;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2.6rem;
}

@media screen and (min-width: 1024px) {
  #container--cars .box__explanations .box__main-text p {
    margin-bottom: 8.5rem;
  }
}

#container--cars .box__explanations .box__main-text .learn--more {
  padding: 1.45rem 3.15rem;
  border-radius: 2.5rem;
  border: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  cursor: pointer;
}

#container--cars .box__explanations .box__main-text .learn--more:hover {
  background-color: transparent;
  color: white;
  outline: 2px solid white;
}

#container--cars .box__explanations:nth-child(1) {
  border-radius: 0.8rem 0.8rem 0 0;
}

@media screen and (min-width: 1024px) {
  #container--cars .box__explanations:nth-child(1) {
    border-radius: 0.8rem 0 0 0.8rem;
  }
}

#container--cars .box__explanations:nth-child(3) {
  border-radius: 0 0 0.8rem 0.8rem;
}

@media screen and (min-width: 1024px) {
  #container--cars .box__explanations:nth-child(3) {
    border-radius: 0 0.8rem 0.8rem 0;
  }
}

footer {
  position: relative;
  text-align: center;
  font-family: "Lexend Deca";
  bottom: 5rem;
  font-size: 2vh;
}

footer a {
  text-decoration: none;
  color: #004241;
}

footer a:hover {
  text-decoration: underline;
  color: #e38826;
}

@media screen and (min-width: 1024px) {
  footer {
    position: absolute;
    right: 2%;
    bottom: 2%;
  }
}
/*# sourceMappingURL=style.css.map */