@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
@import '_reset.scss';
@import '_root.scss';

html {
    font-size: 62.5%;
}

body {
    font-size: $fs;
    font-family: $fm-100;
    background-color: $light-gray;
    
}

#container--cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 8rem;

    @media screen and (min-width: $laptop) {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding-top: 13.5rem;
        padding-left: 1.5rem;
        
    }

    .box__explanations {
        max-width: 32.65rem;
        min-height: 44.15rem;
        padding: 4.8rem 4.9rem;

        @media screen and (min-width: $laptop) {
            max-width: 30.60rem;
            min-height: 50rem;
        }

        .box__car-icon {
            margin-bottom: 3rem;
        }

        .box__main-text {

            h1 {
                font-family: $fm-200;
                font-size: calc(#{$fs} + 1.65em);
                text-transform: uppercase;
                color: $light-gray;
                font-weight: 700;
                margin-bottom: 2.84rem;
            }

            p {
                line-height: 1.63;
                color: $transparent-white;
                margin-bottom: 2.6rem;

                @media screen and (min-width: $laptop) {
                    margin-bottom: 8.5rem;
                }
            }

            .learn--more {
                padding: 1.45rem 3.15rem;
                border-radius: 2.5rem;
                border: none;
                transition: all 150ms ease;
                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    color: white;
                    outline: 2px solid white;
                }
            }
        }
    }

    .box__explanations:nth-child(1) {
        border-radius: $radius $radius 0 0;

        @media screen and (min-width: $laptop) {
            border-radius: $radius 0 0 $radius;
        }
    }

    .box__explanations:nth-child(3) {
        border-radius: 0 0 $radius $radius;

        @media screen and (min-width: $laptop) {
            border-radius: 0 $radius $radius 0;
        }
    }
}

footer {
    position: relative;
    text-align: center;
    font-family: $fm-100;
    bottom: 5rem;
    font-size: 2vh;

    a {
        text-decoration: none;
        color: $very-dark-cyan;

        &:hover {
            text-decoration: underline;
            color: $bright-orange;
        }
    }

    @media screen and (min-width: $laptop) {
        position: absolute;
        right: 2%;
        bottom: 2%;
        
    }
}
